button {
  background-color: var(--cor-principal);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 12px 32px;
  font-size: var(--text);;
  cursor: pointer;
  box-shadow: 0 0 0 2px #0099ff;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0080e0;
}

button:active {
  background-color: #006fc2;
  transform: scale(0.98);
}

.blue-button {
  background-color: var(--cor-principal);
}

.transparent-button {
  background-color: transparent;
}