.form-input input,
.form-input textarea {
  flex: 1;
  text-align: left;
  padding: 10px 12px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 0.375rem; 
  font-size: 1rem;
  color: #212529;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-family: var(--font-titulo);
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-input p {
  color: var(--cor-title, #212529);
  margin-bottom: 6px;
  font-weight: 500;
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-normal);
}