.metrics {
  position: relative;
  background-color: white;
  color: var(--cor-title);
  display: flex;
  flex-direction: column;
  padding: 40px 100px;
  justify-content: left;
  font-family: var(--font-titulo);
  text-align: left;
  height: auto; 
  min-height: 100vh;
}

#title-metrics {
  padding-top: 20px;
  border-bottom: 2px solid gray;
}

.contact-main h1 {
    font-size: var(--subtitle);
}

.selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

select {
  cursor: pointer;
  text-align: left;
  padding: 10px 12px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 0.375rem; 
  font-size: 1rem;
  color: #212529;
  box-sizing: border-box;
  min-width: 200px;
  resize: none;
  font-family: var(--font-titulo);
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.metrics-container {
   display: flex;
   gap: 20px;
}
.chart-container{
  width: 100%;
}


@media (max-width: 768px) {
   .metrics-container {
    display: flex;
    flex-direction: column;
   }
   .metrics {
    padding: 20px;
   }
}