
.metodologic {
  padding: 60px 12%;

  background-color: white;
  margin: 0;
}

.metodologic h1{
  color: var(--cor-title);
  font-size: var(--font-title);
}

.metodologic h2 {
  font-size: var(--font-subtitle);
  color: var(--cor-title);
  margin-bottom: 25px;
}

.metodologic p {
  font-size: var(--font-text);
  line-height: 1.7;
  color: black;
  margin-bottom: 18px;
}

.igs {
  padding: 60px 10%;
  background: #fafafa;
}

.igs h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.municipios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 25px;
}

.actions {
  display: flex;
  justify-content: end;
  padding: 10px 0px ;
}

.summary {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.summary div {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.summary span {
  font-size: var(--font-small);
  color: #666;
}

.summary strong {
  font-size: var(--font-subtitle);
  color: var(--cor-principal);
}