.contact-main {
  position: relative;
  background-color: white;
  color: var(--cor-title);
  display: flex;
  flex-direction: column;
  padding: 40px 100px;
  justify-content: left;
  font-family: var(--font-titulo);
  text-align: left;
  height: auto; 
  min-height: 100vh; 
}

.contact-main h1 {
    font-size: var(--subtitle);
}

.double-names {
  display: flex;
  gap: 50px; 
}

.double-names > * {
  flex: 1; 
}

.submit-div {
    padding-top: 10px;
    display: flex;
    justify-content: end;
}

@media (max-width: 768px) {
  .double-names {
    flex-direction: column;
    gap: 0;
  }

  .contact-main {
    padding: 40px 30px;
  }

}