header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 0px 80px;
  font-family: var(--font-header);
}

.container-info-header {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.nav-header {
  display: flex;
  gap: 50px;
  padding-right: 30px;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav-header a {
    position: relative;
  text-decoration: none;
  color: black;
  font-weight: 500;

  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}

.nav-header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; /* começa escondida */
  height: 2px;
  background-color: var(--cor-principal);
  transition: width 0.3s ease;
}


/* Quando o link é ativo */
.nav-header ::after {
  width: 100%; /* linha se expande */
}

/* Efeito no hover também */
.nav-header a:hover::after {
  width: 100%;
}

/* Cor do texto no hover/ativo */
.nav-header a:hover {
  color: var(--cor-principal);
}